.korona-main__contents__topic
  .topic-text
    %h3 投稿Topics編集
  .topic-input
    =form_with model:@topic, local:true do |f|
      .title
        = f.label :title, "タイトル", class: 'input-content'
        %br/ 
        = f.text_field :title, autofocus: true, class: 'content-default'
      .text
        = f.label :text, "本文", class: 'input-content'
        %br/ 
        = f.text_area :text, autofocus: true, class: 'content-default'
      .btn-box
        = f.submit "変更", class: "btn"
    