.korona-main
  =render partial: "header"
  .korona-main__contents__topic
    .topic-text
      %h3 新規Topics投稿
    .topic-input
      =form_with model:@topic, local:true do |f|
        .title
          = f.label :title, "タイトル", class: 'input-content'
          %br/ 
          = f.text_field :title, autofocus: true, class: 'content-default'
        .text
          = f.label :text, "本文", class: 'input-content'
          %br/ 
          = f.text_area :text, autofocus: true, class: 'content-default'
        .btn-box
          .btn-box__post
            = f.submit "投稿", class: "btn"
          .btn-box__home
            = link_to 'ホーム画面に戻る', root_path
  =render partial: "footer"