.aaa
  = button_to message_like_path(like, message_id: message.id), method: :delete, id: "like-button", remote: true do
    = image_tag("icon_red_heart.svg")
    %span
      = message.like_count
.eee
  = button_to message_likes_path(message), id: "like-button", remote: true do
    = image_tag("icon_heart.svg")
    %span
      = message.like_count

