.korona-main
  .korona-main__header
    .korona-main__header__leftContent
      .title
        %h3
          %span Thanks Board
      .subTitle
        %p 
          %span ~ F r i d a y　O v a t i o n ~
    .korona-main__header__centerContent
      .content-menu
        %ul
          %li 
            %a.type-1{:href => "#1"}
              %span Videos

          %li 
            %a.type-1{:href => "#2"}
              %span Thanks Messages

          %li 
            %a.type-1{:href => "#3"}
              %span Topics
          %li 
            %a.type-1{:href => "#4"}
              %span Producers & Contact
  .korona-main__contents
    #index
    .korona-main__contents__images
      .korona-message
        %div.slick
          %div
            = image_tag 'ovation.jpeg'
          %div
            = image_tag 'ovation1.png'
          %div
            = image_tag 'ovation3.jpeg'
          %div
            = image_tag 'ovation4.jpeg'
          %div
            = image_tag 'samp1.jpeg'
          %div
            = image_tag 'samp3.jpeg'
        %p
          〜いつもありがとう〜 
          %br
            皆さんの力が私たちの今日を支えています
    .message-text
      %i
        私達Team70'sは「＃Friday　Ovation」活動を勝手ながら応援しています！！
        %br
        この活動がもっと広まっていくことを願っています
        %br
        ＊画像等勝手に流用させていただいているので、変更、削除の申し出には早急に対応します。
    #1
    .korona-main__contents__videos
      .videos-text
        %h5 Video Contents
      .videos-content
        .contents-box1
          %iframe{allow: "autoplay; encrypted-media", frameborder: "0",
            src: "https://www.youtube-nocookie.com/embed/Eph4Jmz244A?loop=1&playlist=TLPQMTkwNDIwMjBktcjztfZVVA?"} 
        .contents-box2
          %iframe{allow: "autoplay; encrypted-media", frameborder: "0",
            src: "https://www.youtube-nocookie.com/embed/HM_eJ3ZwoZw?list=PLSCfvrrkoBDLLFWN5YTjqmkPKRmXosWp8?"} 
    #2
    .korona-main__contents__board
      .board-text
        %h2 Thanks Messages
        %p 
          この場所は、新型コロナウィルスと闘っていただいている医療従事者の方々に感謝の想いを伝える場所です。
          %br
          日々の業務に加え、見えない敵に対峙する勇気と行動に私達は敬意を表します。
          %br
            気休め程度かもしれませんが、私達の想いが少しでも伝わることを願っています。
        %p 
          This place is a place to thank the medical staff who are fighting against the new coronavirus
          %br
          In addition to our daily work, we pay tribute to the courage and action to confront invisible enemies.
          %br
            It may be a relief, but I hope we can convey our feelings a little.
      .board-contents
        .board-form
          .form-box
          %h1 
          - if user_signed_in?
            %label 
              = link_to "投稿 !!",new_message_path,class:"btn btn-primary"
        .board-content
          .b-content
            - @messages.each do |message|
              .b-text
              = message.text
              .b-push
              = render partial: 'likes/like', locals: { message: message, likes: @likes }
              .b-count
              = message.likes_count 
              回の感謝の気持ちです。
              %br
              %br
        .b-message
          %p I hope you can reach me ...
    #3
    .korona-main__contents__topic
      .topic-text
        %h3 Topics
        - if user_signed_in?
          %label 
            = link_to "トピック投稿", new_topic_path, class: "btn btn-primary"
      .topic-content
        - @topics.each do |topic|
          %p
            = link_to(topic_path(topic)) do
              =topic.title
      = paginate(@topics)
  #4
  .fotter
    .fotter-contents
      .fotter-text
        = link_to producers_path do
          = "Producers & Contact"
      .f-home-page
        %ul 
          福岡県の情報について
          %li
            = link_to "https://www.pref.fukuoka.lg.jp/contents/covid-19-portal.html" do
              = "福岡県庁HP"
          %li
            = link_to "https://twitter.com/@Pref_Fukuoka/", class: "contents__btn contents__btn--twitter" do
              = icon('fab', 'twitter', class: "contents__btn--icon")
              %span<>
                Twitter
      .f-home-page
        %ul 
          全国の情報について
          %li
            = link_to "https://www.mhlw.go.jp/index.html" do
              = "厚生労働省HP"
          %li
            = link_to "https://twitter.com/@MHLWitter/", class: "contents__btn contents__btn--twitter" do
              = icon('fab', 'twitter', class: "contents__btn--icon")
              %span<>
                Twitter
    .fotter-logo
      %a.type-1{:href => "#index"}
        = "Back To Top"
      .logo
        = image_tag ('teamlogo2.png')
      .logo-text
        %p 
        - if user_signed_in?
          = link_to "ログアウト", destroy_user_session_path, method: :delete
        - else
          = link_to "from T.C70F OB Y.M.N", new_user_session_path

      
  
    
