.wrapper
  %h1 Producers & Contact
  .col-text
    %h2 Masashi Yoshida
  .cols
    .col{:ontouchstart => "this.classList.toggle('hover');"}
      .container
        .front{:style => "background-image: url(https://unsplash.it/504/504/"}
          .inner
            .Profiles1
              %li Profile
            .image3
              = image_tag 'yoshida.png'
            .text3
              %a Nick Name
              %li まさし、まーぴー　etc
              %i 
                Birth H5,1,13
                %br
                
        .back
          .inner
            %span{:style => "font-size:20px"} 当サイトのなんちゃってスクラムマスターです。
            %br
            %span{:style => "font-size:15px"} 医療従事者の皆さんに、自分なりの「感謝」を伝えたいと思い、
            %br
            %span{:style => "font-size:15px"} ユニークなメンバーと当サイトを開発しました！
            %br
            %br
            %span{:style => "font-size:15px"} コロナウィルスと闘う皆様のお力になれますように・・・
    .col{:ontouchstart => "this.classList.toggle('hover');"}
      .container
        .front{:style => "background-image: url(https://unsplash.it/505/505/)"}
          .inner
            %p プログラミング初学者です。
            %span{:style => "font-size:20px"}がんばりま〜す！
            %br
            %span{:style => "font-size:15px"} 世のため、人のためになるツールを開発するのが目標です。
            %br
            %span{:style => "font-size:15px"} 犬好きです。BBQも大好きです。
            %br
            
        .back
          .inner
            %span{:style => "font-size:15px"} 当サイトに関するお問い合わせ 
            %br 
            %span{:style => "font-size:15px"} 下記メールアドレスまで！
            %br
            %span{:style => "font-size:15px"} team70main@gmail.com
  .col-text
    %h2 Masakazu Minayoshi
  .cols
    .col{:ontouchstart => "this.classList.toggle('hover');"}
      .container
        .front{:style => "background-image: url(https://unsplash.it/502/502/)"}
          .inner
            .Profiles1
              %li Profile
            .image3
              = image_tag 'minayoshi.png'
            .text3
              %a Nick Name
              %li みなきち
              %i 
                Birth H2,9,20
                %br
                From NAGASAKI
        .back
          .inner
            %span{:style => "font-size:15px"} 日々、最前線で闘う医療従事者の方に感謝を伝えたい。
            %br
            %span{:style => "font-size:15px"} 正しい情報情報を基に考え行動しよう！
            %br
            %span{:style => "font-size:15px"} 偏見や差別ではなく支え合い乗り越えよう！
    .col{:ontouchstart => "this.classList.toggle('hover');"}
      .container
        .front{:style => "background-image: url(https://unsplash.it/503/503/)"}
          .inner
            %p できることを考え行動する！
            %span{:style => "font-size:15px"} ネガティブな状況だからこそ
            %br
            %span{:style => "font-size:15px"} 俯瞰的にポジティブに考え
            %br
            %span{:style => "font-size:15px"} 自分にできることに取り組みます！
            %br
        .back
          .inner
            %span{:style => "font-size:15px"} 駆け出しのプログラミング初学者です。
            %br 
            %span{:style => "font-size:15px"} Git Hub
            %br
            %span{:style => "font-size:15px"} https://github.com/
  .col-text
    %h2 Shouta Nakashima
  .cols
    .col{:ontouchstart => "this.classList.toggle('hover');"}
      .container
        .front{:style => "background-image: url(https://unsplash.it/504/504/"}
          .inner
            .Profiles1
              %li Profile
            .image3
              = image_tag 'nakaji.jpg'
            .text3
              %a Nick name
              %li Nakaji(ナカジ)
              %i 
                Birth S61,5,6
                %br
                From FUKUOKA
        .back
          .inner
            %p{:style => "font-size:25px"}
              Self-introduction
            %span{:style => "font-size:14px"}
              学歴:県立高校卒業
              %br
              家族:妻、子供（12・10・2才）
              %br
              趣味：野球（player）・バス釣り
              %br
              好きな言葉：”一期一会”　”挑戦”
              %br
              %br
              1月よりTECHCAMPでプログラミングを学習している初学者です。表現したい物を形にできるエンジニアになるのが目標です。

    .col{:ontouchstart => "this.classList.toggle('hover');"}
      .container
        .front{:style => "background-image: url(https://unsplash.it/505/505/)"}
          .inner
            %p{:style => "font-size:25px"}
              フロントエンド担当です。
            %span{:style => "font-size:14px"}
              まずは当サイトに足を運んでいただき
              %br1
              ありがとうございます。
              %br1
              私達Team70'sの共通テーマとして
              %br1
              「感謝」と「私達に出来る事」です。
              %br1
              そのテーマを具現化する事で少しでも
              %br1
              思いを伝えられたらいいなと思います。
              %br
              I hope my heart will reach you ...

        .back
          .inner
            %p{:style => "font-size:30px"}
              Contact
            %span{:style => "font-size:15px"}
              ご連絡、お問い合わせは下記にお願いします。
              %br
              %br
            %twitter
              = link_to "https://twitter.com/@shota_nakaji/", class: "contents__btn contents__btn--twitter" do
                = icon('fab', 'twitter', class: "contents__btn--icon")
                %span<>
                  Twitter
                  %br
                  %br
            %p{:style => "font-size:25px"}
              Portfolio site
              %br
            %p{:style => "font-size:16px"}
              Coming soon
    .footer-btn
      .back-btn
        = link_to "home#index", data: {"turbolinks" => false} do
          = "Back To Home"
  